.heading
  font-size: 20px

  background: #f3f3f3
  padding: 20px
  font-weight: 600

.filters
  padding: 20px

  .formGroup

    label
      max-width: 100%
      margin-bottom: 5px
      font-size: 14px
      font-weight: bold




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  appearance: none
