%i
  color: #FFFFFF
  font-size: 30px

.navBar
  height: 46px
  width: 100%
  background-color: #5682A3

  position: sticky
  top: 0

  padding: 0 15px
  display: flex
  flex-direction: row

  justify-content: space-between
  align-items: center
  .tools
    i:first-child
      margin: 0 15px
    i
      cursor: pointer
      @extend %i
      &:hover
        color: #28d2d1

  .company
    cursor: pointer
    padding: 8px 0

    display: flex
    align-items: center
    i
      @extend %i
      margin-right: 10px
    .companyName
      color: #ffffff


  .closeConversation
    cursor: pointer
    color: #FFFFFF
    font-size: 18px
    font-weight: bold
    &:hover
      color: #28d2d1
    i
      font-size: 18px
      margin-right: 5px

  .toolsConversation
    cursor: pointer

    display: flex
    flex-direction: row
    align-items: center

    i
      font-size: 30px
      color: #d0d0d0
      &:hover
        color: #28d2d1

    .iconConversation
      background-image: url(https://www.squadhelp.com/images/user_image/thumb/Ava-avatar.jpg)
      background-size: cover
      width: 36px
      height: 36px
      border-radius: 50%
      margin-left: 20px