.chatContainer
  width: 400px
  height: 520px
  background-color: aquamarine

  position: fixed

  top: 35vh
  right: 0

  margin-right: 50px

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center



  .allMessage
    width: 90%
    height: 80%
    background-color: white

    .messageContainer
      display: flex
      flex-direction: row
      align-items: center

      margin: 10px

      .message
        margin-left: 5px
        display: flex
        flex-direction: column

      .iconUses
        background-image: url(https://www.squadhelp.com/images/user_image/thumb/Ava-avatar.jpg)
        background-size: cover
        width: 20px
        height: 20px
        border-radius: 50%

  form
    margin: 20px 0
    align-self: center
