.chatContainer
  font-family: Arial, "sans-serif"

  width: 400px
  height: 520px
  background-color: #FFFFFF

  border: 2px solid #5682A3
  border-radius: 5px

  position: fixed
  right: 5vw

  overflow: auto

  .currentConversation
    width: 100%
    height: auto

    display: flex
    flex-direction: column
    justify-content: space-between


  .conversationForm
    padding: 12px 10px
    width: 100%
    height: 54px
    box-sizing: border-box

    position: sticky
    top: 100%

    display: flex
    flex-direction: row
    justify-content: space-between

    background-color: #FFFFFF

    .sendMessage
      user-select: none
      background-color: transparent
      border: 0
      padding: 0
      margin: 0 5px 0 10px
      font-size: 20px

    .inputMessage
      background-color: #F2F2F2
      width: 100%
      padding: 5px

      display: flex
      justify-content: space-between

      input
        width: 100%
        background-color: #F2F2F2
        border: 0


@media only screen and (max-width: 795px)
  .chatContainer
    border: 0
    border-radius: 0

    position: center
    top: 0
    right: 0

    width: 100%
    height: 100%

    .currentConversation
      height: calc(100% - 50px)
      max-height: 100%


