.header
  box-sizing: border-box
  .container
    max-width: 1170px
    padding-right: 15px
    padding-left: 15px
    margin-right: auto
    margin-left: auto

    .row
      margin-right: -15px
      margin-left: -15px
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center

      .link
        min-height: 1px
        padding-right: 15px
        padding-left: 15px

      .logo
        background:
          image: url("https://www.squadhelp.com/images/squadhelp-logo-color.jpg")
          position: center
          repeat: no-repeat
          size: contain
        width: 15vw
        height: 51px

      .list
        width: 66.66666667%
        min-height: 1px
        padding-right: 15px
        padding-left: 15px

        .headerList
          padding: 0
          margin: 0
          list-style: none
          font-family: Arial, "sans-serif"

          display: flex
          flex-direction: row
          justify-content: space-evenly
          div
            flex-shrink: 10
            font-weight: 300


      .startContest
        flex-shrink: 0
        a
          border: 2px solid #28d2d0
          padding: 0.8vw 0.9vw
          background: none

          color: #28d2d0
          border-radius: 5px
          text-transform: uppercase
          font-weight: 500
          text-decoration: none

          &:hover
            color: white
            background-color: #28d2d0
